// color palette
$bg-white: #FFFFFF;
$bg-gray: #E8E8E8;
$side-bg-white: #FAFAFA;
$hero-content-bg: #1E1E1E00;
$black: #000000;
$text-muted: #747474;
$text-primary: #191919;
$gold: #FFC627;
$crimson: #8C1D40;
$input-focus-border: #0099DC;
$success: #437A00;
$bg-success: #E9F5DB;

// typography
$font-family-arial: Arial;
$font-style-normal: normal;
$font-weight-bold: bold;
$font-weight-normal: normal;
$font-size-14: 14px;
$font-size-16: 16px;
$font-size-18: 18px;
$font-size-24: 24px;
$font-size-48: 48px;
$font-size-56: 56px;
$character-spacing-0: 0px;
$character-spacing--0-84: -0.84px;
$character-spacing--1-68: -1.68px;
$character-spacing--1-96: -1.96px;
$line-spacing-20: 20px;
$line-spacing-22: 22px;
$line-spacing-25: 25px;
$line-spacing-29: 29px;
$line-spacing-58: 58px;
$line-spacing-67: 67px;
