@import 'variables';

// overrides (declared before import else won't work)
$primary: $gold;
@import 'bootstrap/scss/bootstrap';

// tags
html, body {
  background: $bg-white;
  min-height: 100vh;
  width: 100%;
  font-family: $font-family-arial !important;
}

// misc classes
.bg-gray {
  background-color: $bg-gray;
}

.banner-padding {
  padding: ($spacer * 1.5) ($spacer * 2);
}
.hero {
  min-height: 256px;
  padding: 120px 36px 33px;
  &__heading {
    font-size: ($spacer * 2.5);
    font-weight: $font-weight-bold;
    line-height: 40px;
    letter-spacing: -1.4px;
    color: $white;
  }
  &__lead {
    font-size: $font-size-18;
    font-weight: $font-weight-bold;
    font-family: $font-family-arial;
    line-height: $line-spacing-25;
    letter-spacing: -0.27px;
    color: $gold;
    margin-top: 15px;
  }
}

// typography classes
.text-highlight-gold {
  background: $gold;
}
.text-highlight-dark {
  background-color: $text-primary;
}
.h1-large-desktop-56px- {
  font-family: $font-family-arial;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-56;
  line-height: $line-spacing-67;
  letter-spacing: $character-spacing--1-96;
  color: $text-primary;
}
.text-large-18px- {
  font-family: $font-family-arial;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-18;
  line-height: $line-spacing-25;
  letter-spacing: $character-spacing-0;
  color: $text-primary;
}
.h3-large-desktop-24px- {
  font-family: $font-family-arial;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-24;
  line-height: $line-spacing-29;
  letter-spacing: $character-spacing--0-84;
  color: $text-primary;
}
.h1-medium-desktop-48px- {
  font-family: $font-family-arial;
  font-style: $font-style-normal;
  font-weight: $font-weight-bold;
  font-size: $font-size-48;
  line-height: $line-spacing-58;
  letter-spacing: $character-spacing--1-68;
  color: $text-primary;
}
.text-medium-16px- {
  font-family: $font-family-arial;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-16;
  line-height: $line-spacing-22;
  letter-spacing: $character-spacing-0;
  color: $text-primary;
}
.text-small-14px- {
  font-family: $font-family-arial;
  font-style: $font-style-normal;
  font-weight: $font-weight-normal;
  font-size: $font-size-14;
  line-height: $line-spacing-20;
  letter-spacing: $character-spacing-0;
  color: $text-primary;
}
