// color palette
$bg-white: #FFFFFF;
$bg-gray: #E8E8E8;
$side-bg-white: #FAFAFA;
$hero-content-bg: #1E1E1E00;
$black: #000000;
$text-muted: #747474;
$text-primary: #191919;
$gold: #FFC627;
$crimson: #8C1D40;
$input-focus-border: #0099DC;





// font families


